<div class="body">
  <div class="moderator">
    <h2>Moderator</h2>
    <hr />
    <ul>
      <li><a [routerLink]="'/product-add'">Add Product</a></li>
      <li><a [routerLink]="'/products-all'">All Products</a></li>
      <li><a [routerLink]="'/orders-all'">All Orders</a></li>
      <li><a [routerLink]="'/messages-all'">All Messages</a></li>
    </ul>
  </div>
  <div class="admin" *ngIf="showAdminPart">
    <h2>Admin</h2>
    <hr />
    <ul>
      <li><a [routerLink]="'/users-all'">All Users</a></li>
    </ul>
  </div>
</div>
