h1 {
    font-size: 4rem;
    margin: 4rem auto;
    color: rgb(194 168 96);
    text-align: center;
    line-height: normal;
}

table,
th,
td {
    background-color: rgb(57 32 18);
    color: rgb(194 168 96);
    text-align: center;
    align-items: end;
    vertical-align: middle;
}

table {
    width: 60%;
    margin: 0 auto;
}

.total {
    font-size: large;
    font-weight: bold;
}

.back {
    width: 30%;
    margin: 2rem auto;
}

a {
    display: block;
    text-align: center;
    background-color: rgb(194 168 96);
    padding: 1rem;
    color: #000;
    border-radius: 0.5rem;
    text-transform: uppercase;
    border: none;
    width: 100%;
    margin: 1rem auto;
    cursor: pointer;
}

a:hover {
    background-color: rgba(194, 191, 96, 0.687);
    color: #000;
}