<app-header></app-header>
<h1>All Products</h1>
<div class="separator"></div>
<div class="row row-cols-md-3 g-5">
  <div class="col" *ngFor="let p of products">
    <div class="card" style="width: 20rem">
      <h2 class="card-title">{{ p.name }}</h2>
      <img src="{{ p.imageUrl }}" class="card-img-top" alt="{{ p.name }}" />
      <div class="card-body">
        <h2 class="card-title">{{ p.price }} $</h2>
        <div class="btns">
          <a [routerLink]="['/products', p.id]" class="card-link btn"
            >Details</a
          >
          <button
            (click)="addToCart({ id: p.id, name: p.name, price: p.price })"
            type="button"
          >
            Add to order
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
