<app-header></app-header>
<h1>Profile</h1>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="https://res.cloudinary.com/dmncdcgx9/image/upload/v1696099211/carousel-02_zwmu2c.jpg"
        class="img-fluid rounded-start"
        alt="profile-picture"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">{{ currentUser.fullName }}</h2>
        <p class="card-text">Email: {{ currentUser.email }}</p>
        <p class="card-text">City: {{ currentUser.city }}</p>
        <p class="card-text">Address: {{ currentUser.address }}</p>
        <p class="card-text">Phone: {{ currentUser.phone }}</p>
        <button>Delete Profile</button>
        <a class="btn">Edit Profile</a>
      </div>
    </div>
  </div>
  <div class="after"></div>
</div>
<h1>Orders</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Order</th>
      <th scope="col">Total</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody *ngIf="currentUser.orders?.length !== 0">
    <tr *ngFor="let order of currentUser.orders; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <p>{{ order.orderNumber }}</p>
      </td>
      <td>
        <p>{{ order.total }} $</p>
      </td>
      <td>
        <button class="btn-order">Details</button
        ><button class="btn-order">Delete Order</button>
      </td>
    </tr>
  </tbody>
</table>
<h1>Current Order</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody *ngIf="products.length !== 0">
    <tr *ngFor="let p of products; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <p>{{ p.name }}</p>
      </td>
      <td>
        <p>{{ p.price }}</p>
      </td>
      <td>
        <button
          (click)="
            removeItemFromCart({ id: p.id, name: p.name, price: p.price })
          "
          class="btn-order"
        >
          Delete
        </button>
      </td>
    </tr>
    <tr class="total">
      <td colspan="3" style="letter-spacing: 1rem">Total</td>
      <td>{{ total }} $</td>
    </tr>
    <tr>
      <td colspan="2">
        <button (click)="clearCart()">Remove all products</button>
      </td>
      <td colspan="2"><button (click)="makeOrder()">Order</button></td>
    </tr>
  </tbody>
</table>
<app-footer></app-footer>
