header {
    background-image: url(https://res.cloudinary.com/dmncdcgx9/image/upload/v1696043900/footerBackground_mbyuup.jpg);
}

a>img {
    width: 10rem;
    height: 10rem;
}

nav {
    display: flex;
    justify-content: space-between;
}

.after {
    background-image: url(https://res.cloudinary.com/dmncdcgx9/image/upload/v1696045070/whiteTopTransparent_kz6jbx.png);
    height: 3rem;
    width: 100%;
}

ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-right: 2rem;
}

a {
    text-decoration: none;
    color: rgb(194 168 96);
    font-size: 2rem;
    cursor: pointer;
}

a:hover {
    color: #fff;
}

.btn-outline-primary {
    width: 10%;
    padding: 1rem;
}

@media (max-width:1000px) {
    .btn-outline-primary {
        visibility: hidden;
    }

    .btn-outline-primary::after {
        content: "A";
        visibility: visible;
        background-color: rgb(194 168 96);
        padding: 1rem;
        border-radius: 0.5rem;
        display: block;
        position: absolute;
        top: 4rem;
    }
}