<header>
  <nav class="navbar navbar-expand">
    <a [routerLink]="'/home'" class="navbar-brand"
      ><img src="../../../assets/logo.jpg" alt="logo.png"
    /></a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a [routerLink]="'/home'" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="/all" class="nav-link">Products</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'/about'" class="nav-link">About Us</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!this.authService.isLoggedIn">
      <li class="nav-item">
        <a [routerLink]="'/register'" class="nav-link">Register</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'/login'" class="nav-link">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="this.authService.isLoggedIn">
      <li class="nav-item">
        <a [routerLink]="'/profile'" class="nav-link">Profile</a>
      </li>
      <li class="nav-item">
        <a (click)="logout()" class="nav-link">Logout</a>
      </li>
    </ul>
  </nav>
  <div class="after"></div>
</header>
