header {
    margin: 0;
    padding: 0;
    background-image: url(https://res.cloudinary.com/dmncdcgx9/image/upload/v1696043900/footerBackground_mbyuup.jpg);
}

a>img {
    width: 10rem;
    height: 10rem;
}

nav {
    display: flex;
    justify-content: space-between;
}

.after {
    background-image: url(https://res.cloudinary.com/dmncdcgx9/image/upload/v1696045070/whiteTopTransparent_kz6jbx.png);
    height: 3rem;
    width: 100%;
}

ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: rgb(194 168 96);
    font-size: 2rem;
}