<app-header></app-header>
<div>
  <h1>About Us</h1>
  <div class="about-section">
    <h4>
      The Chocolate Factory was started by a group of friendly folks who wanted
      to create wonderful chocolate, from bean to bar, everyday. We’re a cozy
      downtown chocolate factory that scrupulously sources every ingredient to
      ensure a high quality, responsible chocolate. We are hoping to change the
      face of fine, hand-crafted, artisan chocolate by being a welcoming
      chocolate factory that makes people feel happy.
    </h4>
    <img
      src="https://res.cloudinary.com/dmncdcgx9/image/upload/v1696099211/carousel-02_zwmu2c.jpg"
      alt="company"
    />
  </div>
</div>
<div class="more-info">
  <p>
    TheChocolateFactory’s doors are open to everyone and anyone curious about
    the process and taste of handmade chocolate. We believe the factory should
    be the happiest and most exciting experience possible. People who walk in
    our doors love the experience of chocolate, and actively seek to understand
    the source and quality of goods they purchase. Come on down for a visit and
    don’t forget to taste our delicious chocolate!
  </p>
</div>
<h1>Our Team</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img
        src="https://res.cloudinary.com/dmncdcgx9/image/upload/v1696104900/client-img_fu1w5l.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Mike Ross</h5>
        <p class="title">CEO & Founder</p>
        <p>mike@example.com</p>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <button class="button">Contact</button>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img
        src="https://res.cloudinary.com/dmncdcgx9/image/upload/v1696104900/client-img_fu1w5l.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Mike Ross</h5>
        <p class="title">CEO & Founder</p>
        <p>mike@example.com</p>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <button class="button">Contact</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img
        src="https://res.cloudinary.com/dmncdcgx9/image/upload/v1696104900/client-img_fu1w5l.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Mike Ross</h5>
        <p class="title">CEO & Founder</p>
        <p>mike@example.com</p>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <button class="button">Contact</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img
        src="https://res.cloudinary.com/dmncdcgx9/image/upload/v1696104900/client-img_fu1w5l.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Mike Ross</h5>
        <p class="title">CEO & Founder</p>
        <p>mike@example.com</p>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <button class="button">Contact</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
