<app-header></app-header>
<h1>Login</h1>
<div class="separator"></div>
<form class="row g-3" #loginForm="ngForm" (ngSubmit)="onSubmitLogin()">
  <div class="before"></div>
  <div class="col-md-6">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      ngModel
      #emailInput="ngModel"
      placeholder="example@exmaple.com"
      required
      pattern="^[^@]{6,}@(abv|gmail)\.(bg|com)$"
      minlength="6"
      maxlength="30"
    />
  </div>
  <ng-container *ngIf="emailInput.touched || emailInput.dirty">
    <div class="error" *ngIf="emailInput.errors?.['required']">
      Email is required
    </div>
    <div class="error" *ngIf="emailInput.errors?.['pattern']">
      Invalid email
    </div>
    <div class="error" *ngIf="emailInput.errors?.['minlength']">
      Email should be between 6 and 30 symbols
    </div>
  </ng-container>
  <div class="col-md-6">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="********"
      #passwordInput="ngModel"
      ngModel
      required
      minlength="6"
      maxlength="20"
    />
  </div>
  <ng-container *ngIf="passwordInput.touched || passwordInput.dirty">
    <div class="error" *ngIf="passwordInput.errors?.['required']">
      Password is required
    </div>

    <div class="error" *ngIf="passwordInput.errors?.['minlength']">
      Password should be between 6 and 20 symbols
    </div>
  </ng-container>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
  <div class="after"></div>
</form>
<app-footer></app-footer>
