<app-header></app-header>
<h1>Change Password</h1>
<div class="separator"></div>
<form
  class="row g-3"
  #changePasswordFrom="ngForm"
  (ngSubmit)="submitForm(changePasswordFrom.value)"
>
  <div class="before"></div>
  <div class="col-12">
    <label for="newPassword" class="form-label">Old Password</label>
    <input
      type="password"
      class="form-control"
      id="oldPassword"
      name="oldPassword"
      placeholder="********"
      ngModel
      required
      #oldPasswordInput="ngModel"
      minlength="6"
      maxlength="20"
    />
  </div>
  <ng-container *ngIf="oldPasswordInput.touched || oldPasswordInput.dirty">
    <div class="error" *ngIf="oldPasswordInput.errors?.['required']">
      Password is required.
    </div>
    <div class="error" *ngIf="oldPasswordInput.errors?.['minlength']">
      Password should be between 6 and 20 symbols.
    </div>
  </ng-container>
  <div class="col-12">
    <label for="newPassword" class="form-label">New Password</label>
    <input
      type="password"
      class="form-control"
      id="newPassword"
      name="newPassword"
      placeholder="********"
      ngModel
      required
      #newPasswordInput="ngModel"
      minlength="6"
      maxlength="20"
    />
  </div>
  <ng-container *ngIf="newPasswordInput.touched || newPasswordInput.dirty">
    <div class="error" *ngIf="newPasswordInput.errors?.['required']">
      Password is required.
    </div>
    <div class="error" *ngIf="newPasswordInput.errors?.['minlength']">
      Password should be between 6 and 20 symbols.
    </div>
  </ng-container>
  <div class="col-12">
    <label for="confirmPassword" class="form-label">Confirm Password</label>
    <input
      type="password"
      class="form-control"
      id="confirmPassword"
      name="confirmPassword"
      placeholder="********"
      ngModel
      required
      #confirmPasswordInput="ngModel"
      minlength="6"
      maxlength="20"
    />
  </div>
  <ng-container
    *ngIf="confirmPasswordInput.touched || confirmPasswordInput.dirty"
  >
    <div class="error" *ngIf="confirmPasswordInput.errors?.['required']">
      Confirm password is required.
    </div>

    <div class="error" *ngIf="confirmPasswordInput.errors?.['minlength']">
      Confirm password should be between 6 and 20 symbols.
    </div>
  </ng-container>
  <div class="error" *ngIf="passwordMissMatch">
    Password and confirm password must match.
  </div>
  <div class="error" *ngIf="error !== ''">
    {{ error }}
  </div>
  <div class="col-12 btn-div">
    <button type="submit" class="btn btn-primary">Change Password</button>
  </div>
  <div class="after"></div>
</form>
<app-footer></app-footer>
