<app-header></app-header>
<h1>Contact us</h1>
<div class="separator"></div>
<form
  class="row g-3"
  #messageForm="ngForm"
  (ngSubmit)="sendMessage(messageForm.value); messageForm.resetForm()"
>
  <div class="before"></div>
  <div class="col-12">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      placeholder="Title"
      ngModel
      required
      #titleInput="ngModel"
      minlength="6"
    />
  </div>
  <ng-container *ngIf="titleInput.touched || titleInput.dirty">
    <div class="error" *ngIf="titleInput.errors?.['required']">
      Title is required.
    </div>
    <div class="error" *ngIf="titleInput.errors?.['minlength']">
      Title should be between more than 6 symbols.
    </div>
  </ng-container>
  <div class="col-12">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      [(ngModel)]="email"
      #emailInput="ngModel"
      placeholder="example@exmaple.com"
      required
      pattern="^[^@]{3,}@(abv|gmail)\.(bg|com)$"
      minlength="10"
      maxlength="30"
    />
  </div>
  <ng-container *ngIf="emailInput.touched || emailInput.dirty">
    <div class="error" *ngIf="emailInput.errors?.['required']">
      Email is required.
    </div>
    <div class="error" *ngIf="emailInput.errors?.['pattern']">
      Invalid email.
    </div>
    <div class="error" *ngIf="emailInput.errors?.['minlength']">
      Email should be between 6 and 30 symbols.
    </div>
  </ng-container>
  <div class="col-12">
    <label for="message" class="form-label">Message</label>
    <textarea
      type="text"
      class="form-control"
      id="message"
      name="message"
      placeholder="Content..."
      ngModel
      required
      #contentInput="ngModel"
      minlength="6"
      rows="10"
    ></textarea>
  </div>
  <ng-container *ngIf="contentInput.touched || contentInput.dirty">
    <div class="error" *ngIf="contentInput.errors?.['required']">
      Content is required.
    </div>
    <div class="error" *ngIf="contentInput.errors?.['minlength']">
      Content should be between more than 6 symbols.
    </div>
  </ng-container>
  <div class="error" *ngIf="error !== ''">
    {{ error }}
  </div>
  <div class="col-12 btn-div">
    <button type="submit" class="btn btn-primary">Send</button>
  </div>
  <div class="success" *ngIf="success">Message successfully send!</div>
  <div class="after"></div>
</form>
<app-footer></app-footer>
