section{
    padding: 0rem 5rem;
}

img {
    max-width: 50%;
}

h1 {
    font-size: 4rem;
    margin: 6rem auto;
    color: rgb(57 32 18);
    text-align: center;
    line-height: normal;
}

h2 {
    font-size: 2rem;
    margin: 2rem auto;
    color: rgb(57 32 18);
    text-align: center;
    line-height: normal;
}