a {
    text-decoration: none;
    color: rgb(194 168 96);
}

footer {
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
    line-height: normal;
}

.separator{
    height: 0.2rem;
    background-color: rgb(194 168 96);
    margin-bottom: 2rem;
}